html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background:linear-gradient(to right, #36d1dc , #5b86e5);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100%;
	color:#adaeb2;
	font-family: Eras Bold ITC;
}

.topname{
	position: fixed;
	color: black;
	top: 0;
	width: 100%;
	font-size: 36px;
	font-weight:bold;
	text-align: center;
	border-bottom: solid;
	border-width: .20em;
	border-color: black;
}

.bottom-nav{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-collapse:collapse;
}

.bottom-nav td{
	
}

.headerofpage{
	font-size: 30px;
	font-weight: bold;
	padding-left: 5%;
	padding-top: 15%;
}

.icons{
	zoom: 25%;
}

.workoutstable{
	padding:5%;
	width: 100%;
}
.workoutstable td{
	font-size: 20px;
	font-weight: bold;
	border:solid;
}

#bottom-menu{
	background-color: white;
	border: solid;
	border-color:black;
	border-width:.20em;
	text-align:center;
}

.create-button{
	text-align:center;
}

