html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color:#535456;
	color:#adaeb2;
}

.topname{
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 36px;
	font-weight:bold;
	text-align: center;
	border-bottom: solid;
	border-width: .20em;
	border-color: black;
}

.bottom-nav{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-collapse:collapse;
}

.bottom-nav td{
	background-color: white;
	border: solid;
	border-color:black;
	border-width:.20em;
	text-align:center;
}

.headerofpage{
	font-size: 30px;
	font-weight: bold;
	padding-left: 5%;
	padding-top: 15%;
}

.icons{
	zoom: 50%;
}

.workoutstable{
	padding:5%;
	width: 100%;
}
.workoutstable td{
	font-size: 20px;
	font-weight: bold;
	border:solid;
}

.big-button{
	position: fixed;
	bottom: 100;
}
