html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background:linear-gradient(to right, #36d1dc , #5b86e5);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100%;
	font-family: Eras Bold ITC;
}

h3 {
    background-color:black;
	position: fixed;
	color: white;
	top: 0;
	width: 100%;
	font-size: 85px;
	font-weight:bold;
	text-align: center;
	border-bottom: solid;
	border-width: .20em;
	border-color: black;
          }   
p {
    padding-top: 20%;
}

h5 {
    font-family: monospace;
    font-size: 70px;
    margin-left: 2em;
    
    
}

#exercisetxt {
    height: 90px;
    width: 70%;
    margin-left: 15%;
    font-style: normal;
    font-size: 40px;
}

#buttons {
    padding: 60px;
    margin-left: 13%;
   align-content: center;
}

.icons{
	zoom: 60%;
}

#bottom-menu{

	border-width:.20em;
	text-align:center;
}

.bottom-nav{
    padding-top: 9%;
	bottom: 0;
	width: 100%;
	border-collapse:collapse;
    
}






